<h1>EmbedTree Apps</h1>
<hr/>
<button id="fb-button" class="btn btn-info">Create Facebook Page Tab</button>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1440239169528450',
      xfbml      : true,
      version    : 'v2.0'
    });


    $('#fb-button').on('click', function(){
              FB.ui({
                  method: 'pagetab'

                }, function(response){

                    console.log(response);
                    console.log(response.tabs_added);

                    $.ajax({

                        url: '/facebook_page',
                        type: 'post', 
                        data: {'user_id': '<% if current_user %><%= current_user.id %><% end %>', 
                                'fb_page_id': parseInt(Object.keys(response.tabs_added)[0]), 'app_data': parseInt(Object.keys(response.tabs_added)[0])
                              },
                        app_data: {'fb_page_id': parseInt(Object.keys(response.tabs_added)[0])},

                        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
                    }).success(function(json){
                        //act on result.
                        console.log("success");
                    });

                });

        })



  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



</script>