<div class="jumbotron">
  <h1>Welcome to EmbedTree!</h1>
  <p>A simple service for sharing media online.</p>
  <p>
  	<%= link_to "Sign up for the beta", new_user_registration_path, :class => "btn btn-success btn-lg", :role => "button" %>
	<%= link_to "Learn more", pages_path('about'), :class => "btn btn-primary btn-lg", :role => "button" %>
  </p>
</div>

<style>
	body {
		background-image: url('http://res.cloudinary.com/familio/image/upload/c_scale,w_2600/v1403726688/042_zyqjg3.jpg');
		background-attachment: cover;
		background-repeat: none !important;
	}


</style>