<div class="jumbotron">
  <h1>Welcome to EmbedTree!</h1>
  <p>A simple service for sharing media online.</p>
  <p>
	<%= link_to "Learn more", pages_path('about'), :class => "btn btn-primary btn-lg", :role => "button" %>
  </p>
</div>