<h1>Featured</h1>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix row">
	<% @leafs.each do |leaf| %>
	  <div class="box col4">
	  		<%= link_to image_tag(leaf.image.url(:standard)), vanity_leaf_url_path(:user_id => leaf.user.name, :id => leaf.slug) %>
	  </div>
	<% end %>
 </div>


<hr/>