/* Darkly
 * Bootswatch
 *= require_self
 *= require darkly/loader
 *= require darkly/bootswatch
*/

 ul {
 	padding-left: 0px !important;
 }

 ul li {
 	list-style: none;
 }

 ul.list-unstyled {
	padding: 5px;
	list-style: none;
}

 ul.list-unstyled li {
 	margin-right: 5px;
 }

 html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-top: 40px;
  padding-top: 60px;
}
